footer{
    background-color: $bkgd-clr;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width:100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__a{
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        color: $color-primary;
        a{
            margin: 0 20px;
            color: $color-primary;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }
    
}