header {
  background-color: #202020;
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px black;
  .logo{
    img{
      width: 200px;
    }
  }
  nav{
    text-align: right;
    .active{
      color: gray;
    }
    .nav__order{
      margin-bottom: 1em;
    }
    a{
      color: $color-primary;
      
    }
  }  
}  