.basket {
  h2 {
    padding-bottom: 1em;
  }
  &__product {
    margin-bottom: 30px;
    padding: 5%;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas:
    "img  name"
    "img  text"
    "img  price";
    column-gap: 15px;
    text-align: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 10px 0px #656565;
    .nodisplay{
      display: none;
    }
    &img {
      grid-area: img;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
    &name{
      grid-area: name;
    }
    &details {
      max-width: 130px;
      grid-area: text;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &price {
      grid-area: price;
    }
    .basket__removeitem{
      opacity: 0.5;
      border: none;
      margin: 0;
      width: 18px;
      line-height: 16px;
      display: inline-block;
      text-align: center;
      padding: 0;
      font-weight: bold;
      background-color: whitesmoke;
      position: absolute;
      right: 10px;
      top: 10px;
      transition: opacity 150ms ease-in;
      @include desktop{
      right: 10px;
      top: 10px;
      }
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  &__under{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    button{
      width: 50%;
      align-self: center;
      opacity: 0.5;
      padding: 0 1em;
      margin-bottom: 1em;
      border: 1px solid $bkgd-clr;
      font-weight: 600;
      transition: opacity 150ms ease-in;
      @include tablet{
        margin-bottom: 0;
      }
      &:hover{
        opacity: 1;
      }
    }
  }

}

.order {
  h2 {
    padding-bottom: 1em;
  }
  form {
    display: flex;
    flex-flow: column;
    text-align: center;
    @include tablet {
      text-align: initial;
    }

    div {
      @include tablet {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5em;
      }
    }
    .required {
      color: red;
    }
    label {
      text-align: left;
      display: inline-block;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 5px;
      @include tablet {
        width: fit-content;
      }
    }
    input,
    select {
      padding-left: 5px;
      margin: 0 auto;
      width: 300px;
      box-sizing: border-box;
      border: 1px solid $bkgd-clr;
      @include tablet {
        margin: 0;
        width: 50%;
      }
    }
    .form__submit {
      @include tablet {
        margin: 0 15%;
      }
      padding-top: 1em;
      input {
        text-align: center;
        background-color: $bkgd-clr;
        color: white;
        border-radius: 15px;
        padding: 5px;
        border: none;
        @include tablet {
          width: 100%;
        }
      }
    }
  }
}

@include desktop {
  main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .opening {
      width: 100%;
    }
    .basket {
      width: 45%;
    }
    .order {
      width: 45%;
    }
  }
}

#basketempty{
  text-align: center;
  margin-top: 1em;
}