.details {
  box-shadow: 5px 5px 10px 0px #656565;
  display: grid;
  border: 2px solid $bkgd-clr;
  padding: 5px;
  text-align: center;
  grid-template-areas:
    "img "
    "."
    "title"
    "description"
    "."
    "select"
    "."
    "price"
    "button";
  @include tablet {
    grid-template-areas:
      "img img ."
      "img img title"
      "img img . "
      "img img description"
      "img img ."
      "img img select"
      "img img ."
      "img img price"
      "img img button"
      "img img .";
  }
  row-gap: 15px;
  &__img {
    grid-area: img;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 5px 10px 0px #656565;
    @include tablet {
      height: 60vh;
      max-width: 40vw;
    }
  }
  &__name {
    grid-area: title;
  }
  &__text {
    grid-area: description;
    @include tablet {
      padding: 0 2em;
    }
  }
  &__options {
    grid-area: select;
    .options__select {
      @include desktop {
        margin-left: 2em;
      }
      border-color: $bkgd-clr;
      border-radius: 15px;
      padding: 0 5px;
    }
    label {
      @include desktop {
        padding-right: 2em;
      }
    }
  }
  &__price {
    grid-area: price;
  }
  &__btn {
    grid-area: button;
    margin: 0 15%;
    background-color: $bkgd-clr;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
  }
}
