@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

main {
  margin-bottom: 50px;
}

* {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

.footer__a a {
  font-size: 14px;
}

header {
  background-color: #202020;
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px black;
}
header .logo img {
  width: 200px;
}
header nav {
  text-align: right;
}
header nav .active {
  color: gray;
}
header nav .nav__order {
  margin-bottom: 1em;
}
header nav a {
  color: #FFF;
}
header nav a .fas {
  padding-right: 18px;
}

footer {
  background-color: #202020;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__a {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  color: #FFF;
}
footer .footer__a a {
  margin: 0 20px;
  color: #FFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 641px) {
  .list__products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.list__products .product {
  border: 2px solid #202020;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: #202020;
  background-color: rgba(236, 236, 236, 0.4);
  margin-bottom: 15px;
  width: 100%;
}
@media (min-width: 641px) {
  .list__products .product {
    width: 45%;
    min-width: 400px;
    margin: 1%;
  }
}
@media (min-width: 1025px) {
  .list__products .product {
    width: 25%;
  }
}
.list__products .product:hover {
  transition: transform 300ms;
  transform: scale(1.05);
}
.list__products .product__img {
  object-fit: cover;
  object-position: center;
  height: 180px;
  width: 50%;
  border-radius: 15px 0 0 15px;
  border-right: 1px solid #202020;
}
.list__products .product__description {
  width: 45%;
  display: grid;
  grid-template-rows: 35px 85px 35px;
  row-gap: 10px;
  text-align: center;
}
.list__products .product__description .product__name {
  place-self: center;
}
.list__products .product__description .product__text {
  padding: 0 4%;
  overflow: scroll;
  justify-self: stretch;
}
.list__products .product__description .product__text::-webkit-scrollbar {
  display: none;
}
.list__products .product__description .product__price {
  place-self: center;
}
.list__products .product__anchor {
  width: 5%;
  margin: auto;
  text-align: center;
}

main {
  padding: 2.5%;
}
main .opening {
  padding-top: 1em;
  padding-bottom: 35px;
  text-align: center;
}

.details {
  display: grid;
  border: 2px solid #202020;
  padding: 5px;
  text-align: center;
  grid-template-areas: "img " "." "title" "description" "." "select" "." "price" "button";
  row-gap: 15px;
}
@media (min-width: 641px) {
  .details {
    grid-template-areas: "img img ." "img img title" "img img . " "img img description" "img img ." "img img select" "img img price" "img img ." "img img button" "img img .";
  }
}
.details__img {
  grid-area: img;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 2px 3px #202020;
}
@media (min-width: 641px) {
  .details__img {
    height: 60vh;
    max-width: 40vw;
  }
}
.details__name {
  grid-area: title;
}
.details__text {
  grid-area: description;
}
@media (min-width: 641px) {
  .details__text {
    padding: 0 2em;
  }
}
.details__options {
  grid-area: select;
}
.details__options select {
  border-color: #202020;
  border-radius: 15px;
  padding: 0 5px;
}
.details__price {
  grid-area: price;
}
.details__btn {
  grid-area: button;
  margin: 0 15%;
  background-color: #202020;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
